* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

html {
  height: 100%;
}
body {
  /* TODO */
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  /* TODO */
}

.search-container {
  /* TODO */
  /* position: relative;
  display: inline-block; */
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgb(138, 235, 235);
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
  background-color: #e9e9e9;
}

input {
  /* TODO */
}
